<li class="post">
	<div>
		<h3><a href="<%= post.url %>"><%- post.title %></a></h3>
		<cite><a href="<%= post.author.url %>"><%- post.author.name %></a></cite>
		<br/>
		<time datetime="<%= new Date(post.datetime).toISOString() %>"><%- timeAndDate(new Date(post.datetime)) %> </time>
	</div>
	<p><a href="<%= post.url %>"><%- post.excerpt %></a></p>
	<a href="<%= post.url %>"><img src="<%= post.image.url %>" alt="<%= post.image.alt %>" loading="lazy" /></a>
</li>